@model IEnumerable<Model.Arquivo>

@{
    ViewData["Title"] = "Index";
}

@if (TempData["Mensagem"] != null)
{
    <div class="alert btn-warning text-center" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["Mensagem"]
    </div>
}

<form action="/Arquivo/SalvarImagem" enctype="multipart/form-data" method="post">
    <input class="btn btn-primary" type="file" name="arquivo" multiple />
    <br />
    <br />
    <button class="btn btn-primary">Enviar Imagem</button>
</form>

<br />
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Tipo de arquivo
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var arquivo in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => arquivo.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => arquivo.DadosTipo)
                </td>
                <td>
                    <a class="btn btn-info btn-sm" asp-action="Visualizar" asp-route-IdArquivo="@arquivo.IdArquivo" target="_blank">Visualizar</a>  
                </td>
                <td>
                    <a download="" class="btn btn-success btn-sm" asp-action="Baixar" asp-route-IdArquivo="@arquivo.IdArquivo" target="_blank">Baixar</a>
                </td>
                <td>
                    <a href="javascript:" arquivo-id="@arquivo.IdArquivo" class="btn btn-danger btn-sm btn-abrirModal">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal" id="modalAbrir" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Deseja realmente apagar?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger btn-modalApagar btn-recarregar" data-dismiss="modal">Apagar</button>
            </div>
        </div>
    </div>
</div>